*.log
*.local
.env
.cache

dist
dist
dist-ssr
server/dist
public/dist
.solid
.turbo
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
